node_modules
local_config.json
*.exe
*.dll
*.suo
*.user
*.userosscache
*.sln.docstates
*.opensdf
*.sdf
.vs/
.vscode/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
*.psess
*.vsp
*.vspx
*.sap
src/web/components
src/web/_cache