@import 'bootstrap';

body {
    background: white;
    font-size: 16px;
}

#main {
    margin: 15px;
}

.hidden {
    display: none;
}
 
.grill-temp-block {
    width: 100%;
    height: 100%;
    clear: both;
}

.meat-temp-block {
    width: 100%;
    height: 100%;
    clear: both;
}

.temp-now {
    width: 300px;
    text-align: center;
}

.temp-now-value {
    @media(min-width:34em){
        font-size: 12rem;
    }
    @media(min-width:48em){
        font-size: 10rem;
    }
    @media(min-width:62em){
        font-size: 6rem;
    }
    @media(min-width:75em){
        font-size: 6rem;
    }
}

.temp-half {
    padding: 10px;
    width: 100px;
    @media(min-width:34em){
        font-size: 8rem;
    }
    @media(min-width:48em){
        font-size: 6rem;
        width: 200px;
    }
    @media(min-width:62em){
        font-size: 3rem;
    }
    @media(min-width:75em){
        font-size: 3rem;
    }
}
.section {
    border-bottom: 1px solid #cccccc;
    font-size: 4rem;
}
.fan-state {
    font-size: 3rem;
}

.temp-target {
    @extend .temp-half;
}
.temp-diff {
    @extend .temp-half;
}
.temp-target-input {
    width: 100px;
}
.text-cell-description {
    font-size: 1.7rem;
    padding-bottom: 10px;
    vertical-align:bottom;
    text-align:left;
}
.sub-title {
    background-color: #EEE;
    font-size: 1.1rem;
    font-weight: bold;
}
.color-setting { 
    width: 280px;
}
.options-sub {
    width: 280px;
    select, input {
        float: right;
    }
}
.color-part {
    input { 
        width: 200px;
    }
    .color-part-value-disp {
        float: right;
    }
    display: inline;
}
.color-preview {
    width:20px;
    height:20px;
}
.color-animate-demo {
    width:50px;
    height:50px;
}

.pixel {
    background-color: black;
    float: left;
    width: 8px;
    height: 8px;
}


.divider {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    height: 1px;
    border-bottom: 1px solid lightgray;
}

.slider-control {
    margin-right: 10px;
}

.status-message {
    margin: 15px;
    padding: 10px;
    width: 100%;
}

.error-message {
    background-color: #FFccaa;
    border: solid 2px #ff3311;
}

.pallet-val {
    background-color: #FFccaa;
    margin: 5px;
    height: 15px;
    width: 15px;
    float: left;
}
.sp-dd {
    display: none;
}
.picker-val {
    border: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.tempGraphTooltip {
    position:absolute;
}