extends layout

block content
    
    select(id='granularity')
        option(value='300') 5 Minutes
        option(value='900') 15 Minutes
        option(value='3600', selected='selected') 1 hour
        option(value='10800') 3 hours
        
    
    button(id='clickme') Update
    
    br
    canvas(id='temps', width='1100', height='500')
        