doctype html
html
  head
    link(href='css/spectrum.css' rel='stylesheet')
    link(href='css/style.css' rel='stylesheet')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='js/app.js' type='text/javascript')
    block title
      title #{title}
  body
    #nav-bar
    block content
        
    