doctype html
html
  head
    link(href='css/style.css' rel='stylesheet')
    script(src='js/app.js' type='text/javascript')
    block title
      title #{title}
  body
    .row
        .header.col-md-12 top stuff
    .row
        .nav.col-md-2 sdfasdf
            ul(class=['nav','nav-pills','nav-stacked'])
                li.nav-item 
                    a.nav-link(href='#') Smoker Stoker
                li.nav-item 
                    a.nav-link(href='#') Home
        .container.col-md-10 stuff
            block content
        
    