
    .divider
    .animation-testing
        div --Animation testing--
        span Preview:
        p
        .led-simulation
        p
        br
        .select-animation
            select.animation-list
        p
        .button-animate
            button.do-animate Animate!
        select.pallete-preset
    .divider
    .sound-testing
        .div -- Sound Testing --
        p
        button.get-sound Test Sound
        p
        canvas#sound-data-graph(width="500" height="200")
        p
        canvas#freq-data-graph(width="500" height="200")
        
        